h1, h2, h3, p, div {
	font-family: 'Arvo', serif;
}
body {
	background-image: url('../images/swirl_pattern.png');
}

div {
	background-color: #7a9dff;
	padding: 10px;
	text-align: center;
}

p {
	text-align: center;
}

#answerDiv {
	text-align: center;
}